.root {
    /*-fx-background-color: #ff00f7;*/
    -fx-font-size: 20px;
}

#master-v-box {
    -fx-min-width: 1920px;
    -fx-min-height: 1080px;
}

#title {
    -fx-font-size: 40px;
}

#under-title {
    -fx-font-size: 30px;
}

.button {
    -fx-font-size: 20px;
}

#current-deal-check-cards-h-box {
    -fx-padding: 20px;

}

#current-cards-v-box {
    -fx-border-color: #000000;
    -fx-min-width: 1000px;
}